@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body {
    background: #2C2F33;
    margin: 0 0;
    padding: 0 0;
}

.page-content {
    padding: 4px 42px;
}

.page-content h1 {
    margin-bottom: -10px;
    margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

h1, h2 {
    text-align: center;
    margin: 50px auto 0;
}


p, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: #505953;
}

li button {
    display: block;
    color: white;
    width: 80px;
    height: 40px;
    text-decoration: none;
    background-color: #505953;
    border: none;
    text-align: center;
}

li button:hover {
    background-color: #403f3e;
    color: white;
}